adal==1.2.7
aiohttp==3.8.4
aiohttp_jinja2==1.5.1
AppKit==0.2.8
asgiref==3.7.2
astor==0.8.1
atheris==2.2.2
authlib==1.2.1
Beaker==1.12.1
boto3==1.27.0
botocore==1.30.0
brotli==1.0.9
brotlicffi==1.0.9.2
cached_property==1.5.2
cchardet==2.1.7
cdecimal==2.3
celery==5.3.1
cffi==1.15.1
cftime==1.6.2
cgroupspy==0.2.2
cleo==2.0.1
colour==0.1.5
concurrencytest==0.1.2
ConfigParser==5.3.0
contextlib2==21.6.0
coverage==7.2.7
ctypes_snappy==1.03
curio==1.6
cx_Oracle==8.3.0
cycler==0.11.0
Cython==0.29.35
datadog==0.45.0
disco==1.40.4
distributed==2023.6.1
dl==0.1.0
dogpile.core==0.4.1
eventlet==0.33.3
fastparquet==2023.7.0
flask_babelex==0.9.4
flask_mail==0.9.1
flask_mongoengine==1.0.0
flask_openid==1.3.0
Foundation==0.1.0a0.dev1
fqdn==1.5.1
freezegun==1.2.2
fsspec==2023.6.0
furl==2.1.3
genapi==0.0.8
gevent==22.10.2
h2==4.1.0
html5lib==1.1
HTMLParser==0.0.2
hypothesis==6.80.0
Image==1.5.33
inotify==0.2.10
intervals==0.9.2
ipython==8.14.0
ipywidgets==8.0.6
isoduration==20.11.0
jedi==0.18.2
jnius==1.1.0
jsonpointer==2.4
keyring==24.2.0
kubernetes_validate==1.26.0
libmc==1.4.2
lingua==4.15.0
lxml==4.9.2
matplotlib==3.7.1
mockldap==0.3.0.post1
mtrand==0.1
mx==3.2
MySQL-python==1.2.5
nose==1.3.7
numarray==1.5.1
Numeric==24.2
numexpr==2.8.4
oauth2client==4.1.3
objgraph==3.6.0
odfpy==1.4.1
openpyxl==3.1.2
ordereddict==1.1
passlib==1.7.4
PasteScript==3.3.0
pgdb==0.0.11
phonenumbers==8.13.15
pickle5==0.0.12
Pillow==10.0.0
pox==0.3.2
prance==23.6.21.0
py==1.11.0
PyInstaller==5.13.0
pylibmc==1.6.3
pylint==2.17.4
pymongo_auth_aws==1.1.0
pymongocrypt==1.6.1
pyOpenSSL==23.2.0
pyperf==2.6.1
PyQt4==4.11.4
PyQt5==5.15.9
pysqlcipher3==1.2.0
pysqlite==2.8.3
pytest==7.4.0
python_bcrypt==0.3.2
python_ldap==3.4.3
python_socks==2.3.0
pytidylib==0.3.2
pyu2f==0.1.5
pyxlsb==1.0.10
qtpy==2.3.1
railroad==0.5.0
recommonmark==0.7.1
rediscluster==0.5.3
requests_kerberos==0.14.0
rfc3339_validator==0.1.4
rfc3986_validator==0.1.1
rfc3987==1.3.8
s3fs==2023.6.0
scikit_learn==1.3.0
scipy==1.11.1
sentry_sdk==1.26.0
service_identity==23.1.0
sets==0.3.2
setuptools_scm==7.1.0
simplejson==3.19.1
slack_sdk==3.21.3
socksio==1.0.0
sqlcipher3==0.5.1
statsmodels==0.14.0
Sybase==0.35
sympy==1.12
tensorflow==2.12.0
threadpoolctl==3.1.0
tornado==6.3.2
traitlets==5.9.0
trio_typing==0.8.0
trove_classifiers==2023.5.24
trustme==1.0.0
truststore==0.7.0
unicodedata2==15.0.0
Unidecode==1.3.6
unittest2==1.1.0
uri_template==1.3.0
urllib3_secure_extra==0.1.0
uvloop==0.17.0
uwsgi_metrics==1.1.5
watchdog==3.0.0
wcwidth==0.2.6
webcolors==1.13
websockets==11.0.3
win_inet_pton==1.1.0
winkerberos==0.9.1
wmi==1.5.1
wsaccel==0.6.4
xarray==2023.6.0
xlrd==2.0.1
xlsxwriter==3.1.2
xlwt==1.3.0
xmlrpclib==1.0.1
zstandard==0.21.0
