<html>
    <head>
        <title>Donate</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <h1>Support the Creator of this Page</h1>
        <p>If you enjoy using this site, please consider making a donation to support its development</p>
        <form>
            <label>Name:</label><br>
            <input type="text" name="name"><br>
            <label>Email:</label><br>
            <input type="email" name="email"><br>
            <label>Donation Amount:</label><br>
            <input type="number" min="1" step="0.01" name="amount"><br>
            <input type="submit" value="Donate">
        </form>
    </body>
</html>
